*{
    font-family: 'Courier New', Courier, sans-serif;
}

body{
    background-color: ghostwhite;

}

#main-container{
    background-color: crimson;
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin-top: 8%;
    margin-left: 19%;
    border-radius: 15px;
    box-shadow: 0 0 15px #181818;
}

#container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    text-align: center;
}

#output{
    width: 50%;
    border-left: 1px solid #000;
}

input{
    width: 85%;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 0 5px #000;
}

button{
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 3px;
    width: 22.5%;
    box-shadow: 0 0 5px #000;
}
button:hover{
    background-color: rgb(49, 212, 187);
    border-radius: 15px;
    border: none;
    padding: 10px;
    margin: 3px;
    width: 23%;
    box-shadow: 0 0 10px #000;
}

#output{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}